@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.fontLarge {
    font-family: 'Aboreto', cursive;
}

#wrapper {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: black; */
}
header {
    /* margin-bottom: 1rem; */
    padding: 1rem 0;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border-radius: 0px 0px 9px 9px;
}
header .title_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
.title_photo .title {
    font-size: 3rem;
}
header .dec {
    width: 80%;
    text-align: center;
}

.container {
    /* background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 12px;
    text-align: center;
    gap: 18px;

    /* background: transparent; */

    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 90vw;
    height: auto;
    margin: 3rem 0px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}